.languages-switch-ul {
  line-height: 50px;
}
.languages-switch-li {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  padding: 0.5rem;
  box-sizing: border-box;

}

.languages-switch-li a {
  color: white;
}

.languages-switch-li a.active {
  text-decoration: underline;
  color: black;
}

.languages-switch-li a:hover {
  color: black;
}
