.author-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98px;
  height: 78px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  padding: 0;
  outline: none;
}

.youtube-icon {
  width: 98px;
  height: 78px;
}

.author-video-block:hover .youtube-icon,
.author-video-btn:focus .youtube-icon {
  fill: red;
  fill-opacity: 1;
}
